.worksBlock {
    min-height: 100vh;
    background-color: lightgreen;
}

.worksContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #1ab7ff;
}

.works {
    border: 1px solid;
    width: 99%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}