.worksBlock {
    height: 100vh;
    background-color: lightgreen;
}

.worksContainer {
    border: 1px solid;
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.titleBlock {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.title {
    background-color: #ffcad1;
    text-align: center;
}

.works {
    height: 100%;
    background-color: gold;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}