.worksBlock {
    height: 100vh;
    background-color: lightgreen;
}

.worksContainer {
    border: 1px solid;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


.title {
    background-color: #ffcad1;
    width: 100%;
    text-align: center;
}

.works {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around   ;
    flex-wrap: wrap;
}