.bigBlock {
    min-height: 50vh;
}

.container {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.littleBlock {
    border: 1px solid;
    width: 99%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}